@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  max-width: 75vw;
  margin: auto;
  margin-top: 50px;
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  background: #fff;
  box-shadow: -24px 0 #fff, 24px 0 #fff;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #fff;
    box-shadow: -24px 0 #ff3d00, 24px 0 #fff;
  }
  66% {
    background: #ff3d00;
    box-shadow: -24px 0 #fff, 24px 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow: -24px 0 #fff, 24px 0 #ff3d00;
  }
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.breed-select {
  max-width: 500px;
  left: 25vw;
}

.cat-info {
  display: flex;
  max-width: 75vw;
  align-content: center;
}

.cat-item {
  display: flex;
  flex-direction: column;
}

.cat-desc {
  font-size: 20px;
}

.cat-section {
  font-weight: bold;
  font-size: 25px;
}

.cat-image {
  width: 500px;
  height: auto;
  margin-left: auto;
  border-radius: 10px;
}
