@import '~node_modules/modern-normalize/modern-normalize.css';

body, html {
  margin: 0;
  height: 100%
}

body {
  background: linear-gradient(
    180deg,
    rgba(9, 0, 156, 1) 5%,
    rgba(90, 68, 255, 1) 55%,
    rgba(255, 255, 255, 1) 100%
  );
  background-size: cover;
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block;
  margin: 25px auto 25px auto;
  position: relative;
  background: #fff;
  box-shadow: -24px 0 #fff, 24px 0 #fff;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #fff;
    box-shadow: -24px 0 #09009c, 24px 0 #fff;
  }
  66% {
    background: #5a44ff;
    box-shadow: -24px 0 #fff, 24px 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow: -24px 0 #fff, 24px 0 #a093ff;
  }
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.breed-select {
  max-width: 500px;
  left: 35%;
  margin: 25px;
}

.cat-info {
  margin: 25px auto;
  display: flex;
  max-width: 75vw;
  align-items: center;
  color: white;
}

.cat-item {
  display: flex;
  flex-direction: column;
}

.cat-desc {
  font-size: 20px;
}

.cat-section {
  font-weight: bold;
  font-size: 25px;
}

.cat-image {
  width: 500px;
  height: auto;
  margin-left: auto;
  border-radius: 10px;
}
